.section-form {
  background: $grey;
  &__form {
    padding: 2.5rem;
    padding-bottom: 1rem;
  }
  &__inner {
    max-width: 350px;
    margin: 0 auto;
  }
  &__form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
  }
  &__label {
    margin-bottom: .3rem;
  }
  &__input-field {
    border: none;
    padding: 0.4rem;
    font-size: 17px;
  }
  &__error {
    border: 1px solid $red;
    border-radius: 5px;
  }
  &__error-message {
    font-size: 0.8rem;
    color: $red;
  }
  &__submit {
    margin-top: 1.5rem;
    padding: 0.8rem;
    border: none;
  }
}