.section-products {
  background: $grey;
  padding: 5rem 0;
  &__container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1220px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2.5rem;
  }
  &__article {
    padding: 1.2rem;
    margin: 0 auto;
    background: $grey;
    border-radius: 15px;
    border: 6px solid #fff;
    max-width: 350px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.41);
    transition: all 0.05s ease-in-out;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__article:hover {
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  }
  &__link {
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    border-radius: 10px;
    height: auto;
  }
  &__details {
    margin-top: 1.2rem;
  }
  &__name-n-price {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom: 1.2rem;
  }
  &__name {
    margin-right: 0.5rem;
    max-width: 65%;
  }
  &__price {
    margin-bottom: 0.2rem;
  }
}

@media (min-width: $papa-bear) {
  .section-products {
    &__container {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }
}